# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Adrian Howard <adrianh@quietstars.com> <adrianh@chillifish.net>
Adrian Howard <adrianh@quietstars.com> adrianh <adrianh@d34b534f-cdcc-0310-9fd0-f1c7c63e638c>
Chad Granum <exodist7@gmail.com> <chad.granum@dreamhost.com>
Curtis Poe <ovid@cpan.org> Ovid <curtis@weborama.com>
Curtis Poe <ovid@cpan.org> Ovid <curtis_ovid_poe@yahoo.com>
Curtis Poe <ovid@cpan.org> Ovid
Matthew Horsfall <WolfSage@gmail.com> <wolfsage@gmail.com>
